
/*----------------------------------------------------- Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');

/*----------------------------------------------------- Header area above the map */ 

.appTitle{
    background-color: #000000;
    color: #fafafa;
    text-align: center;
    margin-bottom: 0px;
    font-family: "Cinzel", sans-serif;
    letter-spacing: 0.5em;
    height: 50px;
    line-height: 50px;
}

.image-header1{
    width: 100%;
    background-image: url("/images/ryans_daughter_headerimage.jpg"); 
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 150px;
}
.image-header2{
    width: 100%;
    background-image: url("/images/young-offenders-headerswap.jpg"); 
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 150px;
}
#intro{
    display: none;
    background-color: #e0c963;
    color: #000000;
    text-align: center;
}
.quote-line1{
    padding: 5px 25px 0px;
    margin: auto;
    font-family: "Bangers", sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
}
.quote-line2{
    padding: 0px 25px 5px;
    margin: auto;
    font-family: "Bangers", sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
}
#info-option-bar{
text-align: center;
font-size: large;
background-color: #7D8570;
color: #fafafa;
}
#your-responsibility-text{
    display: none;
    margin: 0px;
    padding-bottom: 5px;
    font-size: smaller;
    font-style: italic;
}
#info-option-bar h4{
    font-family: "Bangers", sans-serif;
    padding: 8px 25px 4px;
    text-transform: uppercase;
    margin: auto;
}

#how-it-works{
    display: none;
    background-color: #e0c963;
    color: black;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
}
#how-it-works p{
    margin-bottom: 0px;
}



/*----------------------------------------------------------------------- Map area */
#map{
    height: 400px;
}

/*------------------------------------------------------------------------ Weather info section*/

#weather-icon{
    background-color: #7D8570;
    color: #fafafa;
    text-align: center;
}
#weather-details{
    background-color: #e0c963;
    color: #000000;
    text-align: center;
    display: none;
    font-family: "Open Sans Condensed", sans-serif;
}
#weather-details p{
    margin-bottom: 0px;
}


/*------------------------------------------------------------------------ Movie info section*/
#optional-rows{
    display: none;
}
#toggle-button{
    text-align: center;
    color: #fafafa;
    font-family: "Open Sans Condensed", sans-serif;
}
#toggle-bar{
    background-color: #7D8570;
    text-align: center;
    height: 50px;
    color: #fafafa;
    line-height: 50px;
}
.table{
    margin-bottom: 0px;
}
#movie-poster{
        background-color: #000000;
        text-align: center;
}

/*------------------------------------------------------------------------ Contact form*/
#contact-form{
    max-width: 75%;
}
