
/*----------------------------------------------------- Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');

/*----------------------------------------------------- Header area above the map */ 

/*----------------------------------------------------- Navigation */
.navbar-dark{
    background-color: #000000;
}
.fa-bars{
    color: #fafafa;
}

.navbar-brand{
    font-family: "Bangers", sans-serif;
    padding-right: 20px;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: xx-large;
}
.navbar-toggler{
    border: #fafafa;
}
.nav-link {
    color: #fafafa;
    font-family: "Bangers", sans-serif;
}

.image-header1{
    max-width: 100%;
    width: auto;
    background-image: url("/images/skellig-mist.jpg"); 
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 300px;
    height: auto;
}
.image-header2{
    width: 100%;
    background-image: url("/images/young-offenders-headerswap.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;
}
#intro{
    display: none;
    background-color: #e0c963;
    color: #000000;
    text-align: center;
}
.quote-line1{
    padding: 5px 25px 0px;
    margin: auto;
    font-family: "Bangers", sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
}
.quote-line2{
    padding: 0px 25px 5px;
    margin: auto;
    font-family: "Bangers", sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
}
#info-option-bar{
text-align: center;
font-size: large;
background-color: #7D8570;
color: #fafafa;
}
#your-responsibility-text{
    display: none;
    margin: 0px;
    padding-bottom: 5px;
    font-size: smaller;
    font-style: italic;
}
#info-option-bar h4{
    font-family: "Bangers", sans-serif;
    padding: 8px 25px 4px;
    text-transform: uppercase;
    margin: auto;
}

#how-it-works{
    display: none;
    background-color: #e0c963;
    color: black;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
}
#how-it-works p{
    margin-bottom: 0px;
}



/*----------------------------------------------------------------------- Map area */
#map{
    height: 400px;
}

/*------------------------------------------------------------------------ Weather info section*/

#weather-icon{
    background-color: #7D8570;
    color: #fafafa;
    text-align: center;
}
#weather-details{
    background-color: #e0c963;
    color: #000000;
    text-align: center;
    display: none;
    font-family: "Open Sans Condensed", sans-serif;
}
#weather-details p{
    margin-bottom: 0px;
}


/*------------------------------------------------------------------------ Movie info section*/
#optional-rows{
    display: none;
}
#toggle-button{
    text-align: center;
    color: #fafafa;
    font-family: "Open Sans Condensed", sans-serif;
}
#toggle-bar{
    background-color: #7D8570;
    text-align: center;
    height: 50px;
    color: #fafafa;
    line-height: 50px;
}
.table{
    margin-bottom: 0px;
}
.container-fluid{
    padding: 0px;
}
#movie-poster{
        background-color: #000000;
        text-align: center;
        width: 100%;
}
.poster{
  padding: 10px 0px;  
}
#movie-trailer{
    background-color: #000000;
    width: 100%;
    padding-right: 0px 10px 0px;
}
/*------------------------------------------------------------------------ API Ack*/
#api-ack{
    display: flex;
    justify-content: center;
    align-content: space-between;
    justify-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    width: 75px;
    height: 75px;
}
/*------------------------------------------------------------------------ Contact form*/
#contact-form{
    max-width: 65%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
#contact-form h5{
    font-family: "Bangers", sans-serif; 
    text-align: center;   
}
#contact-form label{
    font-family: "Open Sans Condensed";
    text-transform: uppercase;
    font-weight: 600;
}